<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppDev_CRUD</title>
</head>
<body>
    <form action="/save" method="POST"> 
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" placeholder="lastname" required>
        <br>
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" placeholder="firstname" required>
        <br>
        <label for="email">Email Address:</label>
        <input type="text" name="email" placeholder="email" required>
        <br>
        <label for="gender">Gender:</label>
        <input type="text" name="gender" placeholder="gender" required>
        <br>
        <label for="birthdate">Birthdate:</label>
        <input type="date" name="birthdate" placeholder="birthdate" required>
        <br>
        <input type="submit" value="save">
    </form>
</body>
</html>