<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr> 
            <th> Last Name</th>
            <th> First Name</th>
            <th> Email</th>
            <th> Gender</th> 
            <th> Birthdate</th>
            <th> Action </th>
        </tr>
        <% information.forEach(info =>{ %>
        <tr>


        </tr>
        <% }) %>

    </table>
</body>
</html>